.container {
  max-width: 1400px;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  height: 100%;
  display: block;
}

.grid {
  display: grid;
  gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-card-columns {
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 36px;
}

.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 36px;
}

.text-center {
  text-align: center;
}

.secondary {
  background-color: #292929;
}

.card {
  background-color: gray;
}

.card-header.grid {
  gap: 0;
}

.card-body {
  margin: 24px 32px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: black;
  margin-top: 32px;
  padding: 16px;
}

body {
  background-color: black;
  font-family: "Noto Serif Display", serif;
}

h1 {
  font-family: "Nothing You Could Do", cursive;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/the-elephants.webp");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 120px 0;
  color: white;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 16px 32px;
}

section {
  max-width: 100%;
  margin: 0px auto;
  padding: 100px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: white;
  margin: 0px;
}

main h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: white;
  margin: 0px;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: white;
  margin: 0px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/egg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.6;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 28px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
